[submodule "ros1/src/warthog"]
	url = https://github.com/warthog-cpr/warthog
[submodule "ros1/src/warthog_desktop"]
	url = https://github.com/warthog-cpr/warthog_desktop
[submodule "ros1/src/warthog_simulator"]
	url = https://github.com/warthog-cpr/warthog_simulator
