[submodule "ros1-cpr_warthog/src/warthog"]
	url = https://github.com/warthog-cpr/warthog
	path = ros1-cpr_warthog/src/warthog
[submodule "ros1-cpr_warthog/src/warthog_desktop"]
	url = https://github.com/warthog-cpr/warthog_desktop
	path = ros1-cpr_warthog/src/warthog_desktop
[submodule "ros1-cpr_warthog/src/warthog_simulator"]
	url = https://github.com/warthog-cpr/warthog_simulator
	path = ros1-cpr_warthog/src/warthog_simulator
[submodule "ros1-cpr_warthog/src/bir_warthog"]
	url = https://github.com/Brazilian-Institute-of-Robotics/bir_warthog
	path = ros1-cpr_warthog/src/bir_warthog
[submodule "ros1-cpr_warthog/src/bir_warthog_dep/mbf_recovery_behaviors"]
	url = https://github.com/uos/mbf_recovery_behaviors.git
	path = ros1-cpr_warthog/src/bir_warthog_dep/mbf_recovery_behaviors
[submodule "ros1-cpr_warthog/src/bir_warthog_dep/move_base_flex"]
	url = https://github.com/magazino/move_base_flex.git
	path = ros1-cpr_warthog/src/bir_warthog_dep/move_base_flex
[submodule "ros1-cpr_warthog/src/bir_warthog_dep/realsense_gazebo_plugin"]
	url = https://github.com/SyrianSpock/realsense_gazebo_plugin.git
	path = ros1-cpr_warthog/src/bir_warthog_dep/realsense_gazebo_plugin
[submodule "ros1-cpr_warthog/src/bir_warthog_dep/timed_roslaunch"]
	url = https://github.com/MoriKen254/timed_roslaunch.git
	path = ros1-cpr_warthog/src/bir_warthog_dep/timed_roslaunch
[submodule "ros1-cpr_warthog/src/bir_warthog_dep/velodyne_simulator"]
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator.git
	path = ros1-cpr_warthog/src/bir_warthog_dep/velodyne_simulator
[submodule "ros1-melodic/src/MYNT-EYE-S-SDK"]
	url = https://github.com/slightech/MYNT-EYE-S-SDK
	path = ros1-melodic/src/MYNT-EYE-S-SDK
[submodule "ros2-NAV2/src/velodyne"]
	url = https://github.com/ros-drivers/velodyne.git		#/tree/ros2
	path = ros2-NAV2/src/velodyne
[submodule "ros2-NAV2/src/image_pipeline"]
	url = https://github.com/ros-perception/image_pipeline/		#/tree/humble
	path = ros2-NAV2/src/image_pipeline
